{{#> _page }}
<div class="site-section row justify-content-center text-center">
  <img alt="404 error page not found" src="assets/images/404/404.png" style="margin-top: 2%;">
</div>
<div class="justify-content-center text-center">
  <div class="col-md-12">
    <p class="subheading">The page you are looking for can’t be found.</p>
    <b><a href="{{ htmlWebpackPlugin.options.baseUrl }}#home-section" class="nav-link"
        title="Click here to go back to the Homepage">Click here to go back to the Homepage.</a></b>
  </div>
</div>
<div class="site-section col-md-12" style="background-size: 5px;">
</div>

{{/ _page }}
