{{#> base }}
<div class="site-wrap">
  {{#> header }}
  {{/ header }}
  {{> @partial-block }}
  {{#> footer }}
  {{/ footer }}
  <div id="tweak-announcements-banner" class="custom-tweak-warning-banner alert alert-success alert-dismissible" style="visibility:hidden;" role="alert">
    <h3><a href="https://chrome.google.com/webstore/detail/tweak/feahianecghpnipmhphmfgmpdodhcapi/" title="chrome store link" target="_blank" rel="noopener">tweak is back 🎉</a></h3>
    If you installed tweak before the April 1st, please get the latest version <b><a href="https://chrome.google.com/webstore/detail/tweak/feahianecghpnipmhphmfgmpdodhcapi/" title="chrome store link" target="_blank" rel="noopener">here </a></b>to stay up-to-date.
    <br><a href="https://tweak-extension.com/changelog" title="link to tweak changelog" target="_blank" rel="noopener">Here</a> you can find all the latest improvements released!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
{{/ base }}
