{{#> base }}
<div class="site-wrap">
  {{#> header }}
  {{/ header }}
  {{> @partial-block }}
  {{#> footer }}
  {{/ footer }}
  {{#> tweak-cookies-banner }}{{/ tweak-cookies-banner }}
  {{#> privacy-preferences-center }}{{/ privacy-preferences-center }}
</div>
{{/ base }}
