{{#> base }}
<div class="site-wrap">
  {{#> header }}
  {{/ header }}
  {{> @partial-block }}
  {{#> footer }}
  {{/ footer }}
  <div id="tweak-announcements-banner" class="custom-tweak-warning-banner alert alert-success alert-dismissible" style="visibility:hidden;" role="alert">
    <h4><a href="https://tweak-extension.com/changelog" title="link to tweak changelog" target="_blank" rel="noopener">tweak 1.1.0</a> is out and available for <b><a href="https://chrome.google.com/webstore/detail/tweak/feahianecghpnipmhphmfgmpdodhcapi/" title="chrome store link" target="_blank" rel="noopener">Chrome</a></b> and <b><a href="FIREFOXLINK" title="firefox link" target="_blank" rel="noopener">Firefox</a></b>! 🚀</h4>
    If you are using <b>Chrome</b> make sure you have the latest <a href="https://chrome.google.com/webstore/detail/tweak/feahianecghpnipmhphmfgmpdodhcapi/" title="chrome store link" target="_blank" rel="noopener">version</a> installed.<br>
    <button id="tweak-announcements-banner-dismiss-btn" type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
{{/ base }}
