{{#> _page }}
<div class="site-section">
  <div class="site-changelog">
    <div class="site-changelog-heading">
      <h2 class="text-dark">Changelog</h2>
      <p>In this page we document <a
          href="https://chrome.google.com/webstore/detail/tweak/feahianecghpnipmhphmfgmpdodhcapi/" target="_blank"
          title="chrome store tweak extension available for free">tweak</a> changes and improvements per release
        version.</p>
    </div>
    <h3 class="text-dark" title="response headers">v4.0.0</h3>
    <small>06.01.2020</small>
    <ul>
      <li>Feature: <a href="https://developer.mozilla.org/en-US/docs/Glossary/Response_header" title="Response header - MDN Web Docs Glossary: Definitions of Web-related terms | MDN" target="_blank">Response headers</a> - you can now specify the response headers to go along with you response mocked data.</li>
    </ul>
    <h3 class="text-dark" title="request autocomplete, UI improvements">v3.0.0</h3>
    <small>18.12.2020</small>
    <ul>
      <li>Feature: 🌟 <b>Request Autocomplete</b> - 🥁🥁🥁🥁🥁 After some careful UX analysis we finally bring to you a autocomplete experience. With this feature we expect to boost your productivity by many orders of magnitude as you won't longer be required to input all the configuration settings manually! You can simply search a request that occurred in your web app and tweak will automatically import all the necessary information. Curious to know more about this one? Checkout <a href="https://www.youtube.com/watch?v=5LrhuNsIBOE" target="_blank" title="How to intercept HTTP requests with tweak extension">this quick video</a>, or our <a href="https://tweak-extension.com/documentation" target="_blank" title="tweak documentation">documentation</a> to get up to speed with this new feature.</li>
      <li>Feature: <b>Wildcard for HTTP methods</b> - we've received quite some user feedback around restrictions in the available HTTP methods. We now introduce a wildcard option to allow you to mock/intercept requests disregarding their HTTP method.</li>
      <li>Enhancement: <b>All HTTP methods are now allowed to specify a request payload</b>. During the initial designs we thought that the request payload would be used mostly for <code>POST</code>, <code>PUT</code> or <code>PATCH</code>, but it's not really our business to decide what HTTP methods to restrict. After some very thoughtful user feedback, we've remove all the restrictions on what HTTP methods can define a request payload.</li>
      <li>Enhancement: <b>Save the scroll position upon return to the extension popup</b> - we've received user feedback that when there's the need to go back and forth between the popup and the website not restoring the exact scroll position might be disruptive.</li>
      <li>
        Enhancement: In this release we make some improvements to keep you up to date. We will notify you by popping up our changelog every time there's an update to the extension. This is the reason why we require the permission <code>"tabs"</code>, so that we can open our page with the changelog and/or documentation.
      </li>
      <li>Enhancement: <b>Add copy to clipboard</b> in the JSON editors.</li>
      <li>Bug fix: Fix UI glitch in Firefox causing error messages to be hidden when using regular expressions in the URL field.</li>
      <li>
      Maintenance: As usual we've done a round of internal software upgrades to provide our users with the latest improvements and security patches.</li>
    </ul>
    <p>In this release we've given some proof that we listen to our users, so don't be shy. Have any improvements in mind? Mail us at <a href="mailto:help.tweak@gmail.com">help.tweak@gmail.com</a></i></p>
    <h3 class="text-dark" title="bug fixes">v2.0.1</h3>
    <small>22.10.2020</small>
    <ul>
      <li>Bug fix: Layout glitch (overlap) when toggling the JSON editor's error panel.</li>
    </ul>
    <h3 class="text-dark" title="import export configurations">v2.0.0</h3>
    <small>18.10.2020</small>
    <p title="import and export configurations">With tweak 2.0, users are now able to export/import their tweak
      configuration. We hope this provides users a better way to document different scenarios and empowers them to share
      configurations within their teams to boost productivity.</p>
    <ul>
      <li>Feature: Export/import tweak configurations. Configurations are exported as a <code>.json</code> file.</li>
      <li>Enhancement: Show timestamp of last request interception in the counter tooltip.</li>
      <li>Enhancement: Add a loading state to the extension popup.</li>
      <li>Maintenance: 3rd party security dependencies updates.</li>
    </ul>
    <h3 class="text-dark" title="iframe interceptor, bug fixing, small improvements">v1.1.0</h3>
    <small>29.06.2020</small>
    <p title="bug fixing, small improvements">A bug fix and some improvements on expanding support of existent
      functionalities.</p>
    <ul>
      <li><b>Announcement: tweak is now <a href="https://addons.mozilla.org/en-US/firefox/addon/tweak-extension/"
            target="_blank" title="firefox tweak extension available for free">available on Firefox</a></b> 🎉</li>
      <li>Bug fix: Fix glitch in URL input field, was below the regular expressions toggle.</li>
      <li>Feature: Partial support for <a href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/iframe"
          title="<iframe>: The Inline Frame element - HTML: Hypertext Markup Language | MDN" target="_blank"
          rel="noopener">iframes</a>. Users are now able to intercept HTTP requests from iframes. The support we
        introduce is limited, the user needs to ensure he/she disables and re-enables the extension for tweak to attempt
        to kick into the iframes.</li>
      <li>Feature: Proper support for non JSON formats. Provide different editor for users to manage non-JSON response
        payloads. Additionally allow users to setup mocks with invalid JSON. We believe this is a very useful feature
        for chaotic testing purposes.</li>
    </ul>
    <h3 class="text-dark" title="chrome developer tool to mock http request">v1.0.0</h3>
    <small>13.05.2020</small>
    <p title="intercept POST request, delay HTTP request and more">
      We're happy to announce <b>tweak 1.0</b>! After <b>improving the foundations</b> of tweak in the initial releases
      where we mainly focus on making sure the extension intercepts requests consistently across different websites and
      different environments, we decided that now is the right time to <b>focus on new features and enhancing user
        experience</b>. We scanned the extensions in the market, and we cross-referenced dozens of browser extensions
      and their hundreds of reviews to come up with the feature set of this version. We then re-designed from scratch
      the extension UI focusing on productivity and usability, and we add a few other neat functionalities to provide
      you with a sound experience.
    </p>
    <ul>
      <li>Feature: Allow users to <b>delay a request</b> by a specified amount of time.</li>
      <li>Feature: Add a new action on the top bar to <b>collapse all the expanded rows</b> in the extension.</li>
      <li>Feature: Add a new action on the top bar that allows users to <b>delete all</b> the configurations in one go.
      </li>
      <li>Feature: Allow users to <b>specify the request payload (request body)</b> for <a
          href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Methods/POST" title="POST - HTTP | MDN"
          target="_blank" rel="noopener">POST</a>, <code>PUT</code> and <code>PATCH</code> requests. The user can edit
        the request payload by clicking the <code>Request Payload</code> tab in the editors area.</li>
      <li>Feature: Allow users to specify the <a
          href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Type"
          title="Content-Type - HTTP | MDN" target="_blank" rel="noopener">Content-Type</a> response header.</li>
      <li>Feature: Allow users to specify the <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status"
          title="HTTP response status codes - HTTP | MDN" target="_blank" rel="noopener">HTTP response status code</a>
        of an intercepted request.</li>
      <li>
        Enhancement: Overall <b>extension re-design with major UI improvements</b>. Some highlights:
        <ul>
          <li title="url field and regular expressions">
            <b>Larger URL field</b> (old <code>URL match expression</code>) with a new regular expression toggle and
            instant input validation.
          </li>
          <li>
            Better interception count experience with improved active/inactive states. From this version on, the
            interception counter is always visible even when its value is <code>0</code>. The team hopes that this
            serves as an indicator/call to action in cases where user is expecting an interception but does not get the
            expected result or neither feedback from the extension.
          </li>
          <li>
            <b>Larger and slightly more spacious JSON editor(s)</b> with comprehensive footnote captions, to hint users
            towards the right direction when filling in the content based on the type of request their trying to
            intercept.
          </li>
        </ul>
      </li>
      <li>
        Feature: allow users to bypass requests despite the original one not being successful (e.g. status
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/404" title="404 Not Found - HTTP | MDN"
          target="_blank" rel="noopener">404</a> or
        <a href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/500"
          title="500 Internal Server Error - HTTP | MDN" target="_blank" rel="noopener">500</a> are the most common use
        cases). Users may now simulate calls to resources that don't exist on the server, or even create their own
        routes in the extension to truly simulate an API.
      </li>
      <li>
        Bug fix: deleting individual configuration didn't stop the request from being intercepted in the background.
        This might cause
        <i>zombie</i> interceptions, where a request is still intercepted even tough the user deleted the configuration.
        In prior versions
        of tweak the user would have to refresh the page to get rid of the <i>zombie</i> interception.
      </li>
      <li>
        Bug fix: compute the proper header <code>Content-Length</code> based on the user defined payload.
      </li>
      <li>
        Maintenance: 3rd party security dependencies updates.
      </li>
    </ul>
    <h3 class="text-dark">v0.2.0</h3>
    <small>23.04.2020</small>
    <p title="tweak interceptor, mock responses, any website">Although we didn't introduced new functionalities in this
      release, we did some foundational changes in the
      way that tweak interacts with your website in order to augment the coverage of scenarios where it can intercept
      requests. That's the reason why we also changed our user permissions from <a
        href="https://developer.chrome.com/extensions/activeTab" title="The activeTab permission - Google Chrome"
        target="_blank" rel="noopener">activeTab</a> to <a href="https://developer.chrome.com/extensions/match_patterns"
        title="Match Patterns - Google Chrome" target="_blank" rel="noopener">host permissions</a>, allowing us to fix
      the following fundamental issues:
    </p>
    <ul>
      <li>
        <b>Feature: tweak is now able to intercept requests that are fired/triggered at page load 🎉🎉🎉</b>
      </li>
      <li>
        Bug fix: tweak interceptions were flaky for applications using <code>XMLHttpRequest</code> methods:
        <ul>
          <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/onreadystatechange"
              title="developer mozilla documentation for XMLHttpRequest onreadystatechange" target="_blank"
              rel="noopener">XMLHttpRequest.onreadystatechange</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/load_event"
              title="developer mozilla documentation for XMLHttpRequest onload" target="_blank"
              rel="noopener">XMLHttpRequest.onload</a></li>
          <li>and <a href="https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/loadend_event"
              title="developer mozilla documentation for XMLHttpRequest onloadend" target="_blank"
              rel="noopener">XMLHttpRequest.onloadend</a></li>
        </ul>
      </li>
      <li>
        Bug fix: Prior to this release tweak was not capable of intercepting requests to the same host when the
        configuration had an absolute path in the <code>URL match expression</code> field.
      </li>
      <li>
        Bug fix: Prior this release calls to <code>window.fetch</code> with <a
          href="https://developer.mozilla.org/en-US/docs/Web/API/Request"
          title="developer mozilla documentation for Request" target="_blank" rel="noopener">Request</a> object could
        not be intercepted.
      </li>
      <li>
        Bug fix: Bubble up errors that occur during <code>window.fetch</code>. tweak was silencing these errors, which
        would make
        developer's job of debugging the request failure harder. In this new release, tweak properly surfaces the error
        to the
        application.
      </li>
    </ul>
    <h3 class="text-dark">v0.1.0</h3>
    <small>06.04.2020</small>
    <ul>
      <li>Feature: <b>By default turn on the request interception</b> <i>switch</i> toggle when adding a new
        configuration.</li>
      <li>Feature: Notify users about number of intercepted requests by adding a badge counter to the extension icon.
      </li>
      <li>Feature: Add a <i>Run&amp;Stop</i> button on the top bar of the extension for faster access when in need of
        enabling/disabling the extension globally.</li>
      <li>Feature: Small visual improvements:</li>
      <ul>
        <li>Small tooltip for the <code>URL match expression</code> configuration field to inform the user about
          advanced usage use cases with regular expressions.</li>
        <li>Custom title for JSON editor present in each configuration.</li>
      </ul>
    </ul>
    <h3 class="text-dark">v0.0.2</h3>
    <small>23.03.2020</small>
    <ul>
      <li>Bug fix: Fix memory leak on start/stop extension.</li>
      <li>Bug fix: Improve compatibility of interceptions, better compliance with browser APIs:</li>
      <ul>
        <li>
          Intercept <a href="https://developer.mozilla.org/en-US/docs/Web/API/Body/text"
            title="developer mozilla documentation for Body text" target="_blank" rel="noopener">Body.text()</a> for
          <a href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API"
            title="developer mozilla documentation for fetch API" target="_blank" rel="noopener">
            window.fetch</a> requests.
        </li>
        <li>
          Intercept <a href="https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/responseText"
            title="developer mozilla documentation for XMLHttpRequest responseText" target="_blank"
            rel="noopener">XMLHttpRequest.responseText</a>
          for <a href="https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest"
            title="developer mozilla documentation for XMLHttpRequest" target="_blank" rel="noopener">XMLHttpRequest</a>
          requests.
        </li>
      </ul>
    </ul>
    <h3 class="text-dark">v0.0.1</h3>
    <small>01.02.2020</small>
    <ul>
      <li>First <a href="https://chrome.google.com/webstore/detail/tweak/feahianecghpnipmhphmfgmpdodhcapi/"
          target="_blank" title="chrome store tweak extension available for free">tweak</a> version</li>
    </ul>
  </div>
</div>
{{/ _page }}
