{{#> _page }}
<div class="site-section">
  <div class="site-changelog">
    <div class="site-changelog-heading">
      <h2 class="text-dark">Changelog</h2>
      <p>In this page we document <a
          href="https://chrome.google.com/webstore/detail/tweak/feahianecghpnipmhphmfgmpdodhcapi/" target="_blank"
          title="chrome store tweak extension available for free">tweak</a> changes and improvements per release
        version.</p>
    </div>
    <h3 class="text-dark">v0.2.0</h3>
    <p title="tweak interceptor, mock responses, any website">Although we didn't introduced new functionalities in this release, we did some foundational changes in the
      way that tweak interacts with your website in order to augment the coverage of scenarios where it can intercept
      requests. That's the reason why we also changed our user permissions from <a
        href="https://developer.chrome.com/extensions/activeTab" title="The activeTab permission - Google Chrome"
        target="_blank" rel="noopener">activeTab</a> to <a href="https://developer.chrome.com/extensions/match_patterns"
        title="Match Patterns - Google Chrome" target="_blank" rel="noopener">host permissions</a>, allowing us to fix the following fundamental issues:
    </p>
    <ul>
      <li>
        <b>Feature: tweak is now able to intercept requests that are fired/triggered at page load 🎉🎉🎉</b>
      </li>
      <li>
        Bug fix: tweak interceptions were flaky for applications using <code>XMLHttpRequest</code> methods:
        <ul>
          <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/onreadystatechange"
              title="developer mozilla documentation for XMLHttpRequest onreadystatechange" target="_blank"
              rel="noopener">XMLHttpRequest.onreadystatechange</a></li>
          <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/load_event"
              title="developer mozilla documentation for XMLHttpRequest onload" target="_blank"
              rel="noopener">XMLHttpRequest.onload</a></li>
          <li>and <a href="https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/loadend_event"
              title="developer mozilla documentation for XMLHttpRequest onloadend" target="_blank"
              rel="noopener">XMLHttpRequest.onloadend</a></li>
        </ul>
      </li>
      <li>
        Bug fix: Prior to this release tweak was not capable of intercepting requests to the same host when the configuration had an absolute path in the <code>URL match expression</code> field.
      </li>
      <li>
        Bug fix: Prior this release calls to <code>window.fetch</code> with <a
          href="https://developer.mozilla.org/en-US/docs/Web/API/Request"
          title="developer mozilla documentation for Request" target="_blank" rel="noopener">Request</a> object could
        not be intercepted.
      </li>
      <li>
        Bug fix: Bubble up errors that occur during <code>window.fetch</code>. tweak was silencing these errors, which would make
        developer's job of debugging the request failure harder. In this new release, tweak properly surfaces the error to the
        application.
      </li>
    </ul>
    <h3 class="text-dark">v0.1.0</h3>
    <ul>
      <li>Feature: <b>By default turn on the request interception</b> <i>switch</i> toggle when adding a new
        configuration.</li>
      <li>Feature: Notify users about number of intercepted requests by adding a badge counter to the extension icon.
      </li>
      <li>Feature: Add a <i>Run&amp;Stop</i> button on the top bar of the extension for faster access when in need of
        enabling/disabling the extension globally.</li>
      <li>Feature: Small visual improvements:</li>
      <ul>
        <li>Small tooltip for the <code>URL match expression</code> configuration field to inform the user about
          advanced usage use cases with regular expressions.</li>
        <li>Custom title for JSON editor present in each configuration.</li>
      </ul>
    </ul>
    <h3 class="text-dark">v0.0.2</h3>
    <ul>
      <li>Bug fix: Fix memory leak on start/stop extension.</li>
      <li>Bug fix: Improve compatibility of interceptions, better compliance with browser APIs:</li>
      <ul>
        <li>
          Intercept <a href="https://developer.mozilla.org/en-US/docs/Web/API/Body/text"
            title="developer mozilla documentation for Body text" target="_blank" rel="noopener">Body.text()</a> for
          <a href="https://developer.mozilla.org/en-US/docs/Web/API/Fetch_API"
            title="developer mozilla documentation for fetch API" target="_blank" rel="noopener">
            window.fetch</a> requests.
        </li>
        <li>
          Intercept <a href="https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest/responseText"
            title="developer mozilla documentation for XMLHttpRequest responseText" target="_blank"
            rel="noopener">XMLHttpRequest.responseText</a>
          for <a href="https://developer.mozilla.org/en-US/docs/Web/API/XMLHttpRequest"
            title="developer mozilla documentation for XMLHttpRequest" target="_blank" rel="noopener">XMLHttpRequest</a>
          requests.
        </li>
      </ul>
    </ul>
    <h3 class="text-dark">v0.0.1</h3>
    <ul>
      <li>First <a href="https://chrome.google.com/webstore/detail/tweak/feahianecghpnipmhphmfgmpdodhcapi/"
          target="_blank" title="chrome store tweak extension available for free">tweak</a> version</li>
    </ul>
  </div>
</div>
{{/ _page }}
