{{#> _page }}
<div class="bgimg" style="background-image: url('assets/images/documentation/screen-page.png');"
  data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-7">
        <h2>Documentation</h2>
        <p class="lead mx-auto desc mb-5">Scroll to get all the resources you need to learn how to use tweak!</p>
      </div>
    </div>
  </div>
</div>
{{!-- <a href="" target="_blank" title=""></a> --}}

{{!-- tweak anatomy --}}
<div class="site-section">
  <div class="documentation-section">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-8 section-heading">
        <h3 class="heading mb-3">tweak anatomy</h3>
        <span class="subheading">A tour guide through our UI</span>
      </div>
    </div>
    <div class="row mb-6">
      <div class="col-lg-8">
        <img alt="tweak components" src="assets/images/documentation/tweak-anatomy.png" class="img-fluid">
      </div>
      <div class="col-lg-4">
        <ol>
          <li><b>Minimize all</b>: collapses/minimizes all the requests created.</li>
          <li><b>Regular expression toggle</b>: when toggled on, you can specify a <a
              href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide/Regular_Expressions" target="_blank"
              title="Regular expressions - JavaScript MDN">Regular Expression</a> to match against the request URL.</li>
          <li><b>Number of requests successfully intercepted</b>.</li>
          <li><b>Row Options</b>: here you have the additional options of duplicating or deleting a configuration.</li>
          <li><b>Delay request by</b>: allows you to delay the request interception by as many milliseconds (<i>ms</i>)
            as specified</li>
          <li><b>Request payload</b>: for POST, PUT or PATCH requests, you can specify here the request payload.</li>
        </ol>
      </div>
    </div>
  </div>
</div>
{{!-- tweak video tutorials --}}
<div class="site-section bg-light">
  <div class="documentation-section">
    <div class="row justify-content-center text-center mb-5">
      <div class="col-md-8 section-heading">
        <h3 class="heading mb-3">Video Tutorials</h3>
      <span class="subheading">Some short and straight to the point videos to get you up to speed!</span>
      </div>
    </div>
    <div class="justify-content-center">
      <h3 class="text-dark">How To Intercept HTTP Requests with tweak</h3>
      <div class="row mb-5">
        <iframe width="90%" height="60%" style="min-height: 260px; max-width: 700px;"
          src="https://www.youtube.com/embed/M7rMuNBw1xQ" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
{{!-- closing notes --}}
<div class="site-section">
  <div class="documentation-section">
    <p>
      Do you want to try it yourself in our test application? <a href="https://tweak-target-app.herokuapp.com"
        target="_blank" title="Link to the web application where you can test tweak"><b>Here</b></a> you can access
      the website that we use in our video demonstrations.<br>
      Oh! and btw, to checkout the latest changes in tweak you can take a look at our <a
        href="{{ htmlWebpackPlugin.options.content.links.changelog }}" target="_blank"
        title="Link to Changelog of tweak"><b>Changelog</b></a>.
    </p>
  </div>
</div>
{{/ _page }}
