{{#> _page }}
<div class="bgimg" style="background-image: url('../assets/images/documentation/screen-page.png');" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-7">
        <h2 class="">Intercept a request</h2>
        <p class="lead mx-auto desc mb-5">Follow the steps to intercept your first request with tweak!</p>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <h2>Step 1</h2>
    <div class="row mb-5">
      <div class="col-lg-6">
        <img alt="some description" src="../assets/images/documentation/screen-page.png" class="img-fluid">
      </div>
      <div class="col-lg-6">
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
          blind texts.
          Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
      </div>
    </div>
    <h2>Step 2</h2>
    <div class="row mb-5">
      <div class="row mb-5">
        <div class="col-lg-6">
          <img alt="some description" src="../assets/images/documentation/screen-page.png" class="img-fluid">
        </div>
        <div class="col-lg-6">
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
            paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks
            and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her
            initial into the belt and made herself on the way.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life
        One day however
        a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
      <ul class="ul-check list-unstyled success">
        <li>Even the see Pointing has no control</li>
        <li>Lorem Ipsum decided to leave for</li>
        <li>The far World of Grammar</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
    </div>
  </div>
</div>
{{/ _page }}
