{{#> _page }}
<div class="bgimg" style="background-image: url('assets/images/documentation/screen-page.png');" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row align-items-center justify-content-center text-center">
      <div class="col-md-7">
        <h2 class="">Intercept a request</h2>
        <p class="lead mx-auto desc mb-5">Follow the steps to intercept your first request with tweak!</p>
      </div>
    </div>
  </div>
</div>
<div class="site-section">
  <div style="margin: 50px;">
    <h2>Step 1 - Request setup</h2>
    <div class="row mb-5">
      <div class="col-lg-8">
        <img alt="Step 1 - Request setup" src="assets/images/documentation/step1.png" class="img-fluid">
      </div>
      <div class="col-lg-4">
        <ul>
          <li>Open the Network tab</li>
          <li>In the Name section, select the request you want to intercept</li>
          <li>Open tweak and fill in Configuration name, HTTP Method and Request URL according to the caracteristics of the Request you want to intercept</li>
        </ul>
      </div>
    </div>
    <h2>Step 2 - Raw response data</h2>
    <div class="row mb-5">
        <div class="col-lg-8">
          <img alt="Step 2 - Copy the raw response data" src="assets/images/documentation/step2.png" class="img-fluid">
        </div>
        <div class="col-lg-4">
          <ul>
            <li>In the Response section, copy the Raw response data</li>
            <li>Paste the Raw response data in the json editor in tweak</li>
          </ul>
        </div>
    </div>
    <h2>Step 3 - Format the response</h2>
    <div class="row mb-5">
        <div class="col-lg-8">
          <img alt="Step 3 - Format the data to make it readable" src="assets/images/documentation/step3.png" class="img-fluid">
        </div>
        <div class="col-lg-4">
          <p>In the json editor, you can format the data by clicking on the first icon. The data will be easier to read and you can start tweaking the response as you need.</p>
        </div>
    </div>
    <h2>Step 4 - tweak the response</h2>
    <div class="row mb-5">
        <div class="col-lg-6">
          <img alt="Step 4 - tweak the response in the json editor" src="assets/images/documentation/step4.png" class="img-fluid">
        </div>
        <div class="col-lg-6">
          <p>tweak the response in the json editor</p>
        </div>
    </div>
    <h2>Step 5 - Run the extension</h2>
    <div class="row mb-5">
      <div class="row mb-5">
        <div class="col-lg-6">
          <img alt="some description" src="assets/images/documentation/step5.png" class="img-fluid">
        </div>
        <div class="col-lg-6">
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
            paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks
            and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her
            initial into the belt and made herself on the way.</p>
        </div>
      </div>
    </div>
    <h2>Step 6</h2>
    <div class="row mb-5">
      <div class="row mb-5">
        <div class="col-lg-6">
          <img alt="some description" src="assets/images/documentation/step6.png" class="img-fluid">
        </div>
        <div class="col-lg-6">
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
            paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks
            and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her
            initial into the belt and made herself on the way.</p>
        </div>
      </div>
    </div>
    <h2>Step 7</h2>
    <div class="row mb-5">
      <div class="row mb-5">
        <div class="col-lg-6">
          <img alt="some description" src="assets/images/documentation/step7.png" class="img-fluid">
        </div>
        <div class="col-lg-6">
          <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a
            paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          <p>The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks
            and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her
            initial into the belt and made herself on the way.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life
        One day however
        a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>
      <ul class="ul-check list-unstyled success">
        <li>Even the see Pointing has no control</li>
        <li>Lorem Ipsum decided to leave for</li>
        <li>The far World of Grammar</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
    </div>
  </div>
</div>
{{/ _page }}
