{{#> _page }}
<div class="site-section">
  <iframe style="border:none;" id="uninstall-iframe" src="{{htmlWebpackPlugin.options.content.googleFormURL}}" title="Feedback after uninstall" height="900"></iframe>
</div>
{{/ _page }}
