<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-dark">About tweak</h3>
        <p>tweak is an extension that allows you to tweak your HTTP requests so that you can test, develop and demo your web application.</p>
      </div>
      <div class="col-md-3 ml-auto">
        <h3 class="text-dark">Links</h3>
        <ul class="list-unstyled footer-links">
          <li><a href="#">Try tweak!</a></li>
          <li><a href="{{ htmlWebpackPlugin.options.baseUrl }}documentation.html">Documentation</a></li>
          <li><a href="{{ htmlWebpackPlugin.options.baseUrl }}privacy-policy.txt">Privacy Policy</a></li>
          <li><a href="{{ htmlWebpackPlugin.options.baseUrl }}use-policy.txt">Use Policy</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="text-dark">Contribute</h3>
        <p>Contribute to tweak! <span class="icon-cc-paypal"></span>
        </p>
      </div>
    </div>
    <div class="row" style="text-center pt-5">
      <div class="col-md-12">
        <div class="pt-5">
          <p class="copyright">
            {{!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --}}
            Copyright &copy;
            <script>
              document.write(new Date().getFullYear());
            </script> All rights reserved | This template is made with <i class="icon-heart text-danger"
              aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
            {{!-- AUTHOR --}}
            <p>Icons made by <a href="https://www.flaticon.com/authors/nikita-golubev" title="Nikita Golubev">Nikita
                Golubev</a>, <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> and <a
                href="https://www.flaticon.com/authors/popcorns-arts" title="Icon Pond">Icon Pond</a> from <a
                href="https://www.flaticon.com/" title="Flaticon">flaticon.com</a></p>
            {{!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --}}
        </div>
      </div>
    </div>
  </div>
</footer>
