<div class="modal fade" id="cookies-settings-modal" tabindex="-1" role="dialog" aria-labelledby="cookies-settings-modal"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Privacy preferences center</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Cookies are used on tweak-extension.com with the primary purpose of tracking bugs and enhance the website
          usability, based on usage patterns identified.
        </p>
        <a href="https://tweak-extension.com/privacy-policy.txt" title="link to tweak privacy policy" target="_blank"
          rel="noopener">Privacy policy</a>
        <hr>
        <h5 style="margin-bottom:22px;">Manage cookies preferences</h5>
        <div class="row justify-content-between">
          <div class="col-7">
            <h6>Essential cookies</h6>
          </div>
          <div class="col-5">
            <h6><b>Always active</b></h6>
          </div>
        </div>
        <p>These cookies are necessary. They’re the basic cookies that enable our site to work properly so that you can
          use the most important functions and navigate the site smoothly.</p></br>

        <div class="row justify-content-between">
          <div class="col-6">
            <h6>Performance cookies</h6>
          </div>
          <div class="col-5">
            <input id="toggle-analytics-checkbox" type="checkbox" aria-label="Checkbox for following text input">
            <label for="toggle-analytics-checkbox" style="user-select:none;">Active</label>
          </div>
        </div>
        <p>These cookies allow us to measure and improve the performance of our site. If you deactivate these cookies we
          won’t be able to optimize our site for you.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
