<div class="d-md-flex align-items-center">
  <div class="hours mr-md-4 mb-4 mb-lg-0">
    <strong class="d-block"><a class="pizza-custom-link" href="https://www.producthunt.com/posts/tweak-5" target="_blank" title="link to product hunt">Upvote tweak in ProductHunt 🆙 </a>
    </strong>
  </div>
</div>
