<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{ htmlWebpackPlugin.options.content.metaDescription }}">
  <title>{{ htmlWebpackPlugin.options.content.title }}</title>
  <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="site.webmanifest">
  <link rel="preload" href="assets/css/bootstrap.min.css" as="style">
  <link rel="preload" href="assets/css/owl.carousel.min.css" as="style">
  <link rel="preload" href="assets/css/owl.theme.default.min.css" as="style">
  <link rel="preload" href="assets/css/aos.css" as="style">
  <link rel="preload" href="assets/css/style.css" as="style">
  <link rel="preload" href="assets/css/flaticon/font/flaticon.css" as="style">
  <link rel="preload" href="assets/css/icomoon/style.css" as="style">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="assets/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="assets/css/aos.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900">
  <link rel="stylesheet" href="assets/css/icomoon/style.css">
</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  {{> @partial-block }}
  <script src="assets/js/jquery-3.3.1.min.js"></script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/owl.carousel.min.js"></script>
  <script src="assets/js/jquery.easing.min.js"></script>
  <script src="assets/js/aos.js"></script>
  <script src="assets/js/jquery.sticky.js"></script>
</body>

</html>
